.subjectCard {
  background: #0a808a;
  border-radius: 8px;
  overflow: hidden;
  width: 170px;
  height: 170px;
  color: white;
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(255, 255, 255, 0.15);
}

.subjectCard__img {
  width: 100%;
  height: 75px;
  object-fit: cover;
}

.subjectCard__body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.subjectCard__title {
  font-size: 12px;
  font-weight: 800;
}

.subjectCard__teacher {
  font-size: 10px;
  opacity: 0.9;
}
